body{
    font-family:'Anonymous Pro';
    margin: 0;
    padding: 0;
    position: static;
}
/*Navbar*/
.navbar{
    background-color: none;
}
.navbar-brand{
    margin-left: 89px;
    margin-right: 250px;
}
.nav-link{
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}
.logo{
    margin-left: -35px;
    width: 75px;
    height: 75px;
}
.profile.icon {
    float: right;
    color: blue;
    position: relative;
    margin-left: 3px;
    margin-top: 11px;
    width: 14px;
    height: 6px;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-top: solid 1px currentColor;
    border-bottom: solid 1px transparent;
    border-radius: 6px 6px 0 0;
    transform: scale(2);
  }
  
  .profile.icon:before {
    content: '';
    position: absolute;
    left: 2px;
    top: -10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: solid 1px currentColor;
}
.user-name{
    font-size: 20px;
    color: #333;
    margin-left: 15px;
    margin-top: -4px;
}

/*Main*/
.card-words{
    font-size: 20px;
    color: #000000;
}
.card-border{
background: linear-gradient(white, white) padding-box,
linear-gradient(to bottom,#1286F1 70%,#F112DB 30%) border-box;
border-radius: 30px;
border: 1px solid transparent;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 
.card-border:hover{
    border:1px solid transparent;
    border-color:#1286F1;
}
.second-card{
background: linear-gradient(180deg, #1F78CA 19.43%, rgba(205, 68, 200, 0.84) 83.85%, rgba(221, 5, 225, 0.85) 100%);
}
.second-card-border{
background: linear-gradient(white, white) padding-box,#fff border-box;
border: 1px solid transparent;
}
.first-point{
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    color: #000000;
    background-color: #48FF07;
}
.point{
    color: #fff;
    text-align: center;
}